<!-- CSS -->
    <style>
      /* General Style */
      html {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        background-color: #ccc;
      }

      /* Card */
      .card {
        width: 500px;
        height: 300px;
        margin: 100px auto;
        background-color: red;
        border: 5px solid green;
        border-radius: 15px;
      }

      .card article {
        height: 200px;
        background-color: coral;
      }

      .card article img {
        float: right;
        width: 200px;
      }

      .card article p {
        padding: 15px;
        color: rgba(255, 255, 255, 0.8);
      }

      .card header h2 {
        text-align: center;
      }

      .card footer p {
        text-align: center;
        margin-top: 8px;
      }
    </style>

  </body>
</html>